body {
    background: #090909;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.loader-one {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation-one 1s linear infinite;
    }

    @keyframes rotation-one {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

.loader-two {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-top: 3px solid #FFF;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation-two 1s linear infinite;
}

@keyframes rotation-two {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

.loader-three {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #FFF;
    box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    box-sizing: border-box;
    animation: shadowPulse 1s linear infinite;
}
  
  @keyframes shadowPulse {
    33% {
      background: #FFF;
      box-shadow: -24px 0 #FF3D00, 24px 0 #FFF;
    }
    66% {
      background: #FF3D00;
      box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    }
    100% {
      background: #FFF;
      box-shadow: -24px 0 #FFF, 24px 0 #FF3D00;
    }
}

.loader-four, .loader-four:before, .loader-four:after {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background: none;
    animation: scaleInOut 1.5s infinite ease-in-out;
}

.loader-four {
    color: white;
    position: relative;
    animation-delay: 150ms;
}

  .loader-four:before,
  .loader-four:after {
    content: '';
    position: absolute;
    top: 0;
}

  .loader-four:before {
    left: -24px;
}

  .loader-four:after {
    left: 24px;
    animation-delay: 300ms;
}
  
  @keyframes scaleInOut {
    0%, 100% { 
      box-shadow: 0 16px 0 -16px; 
  }

  50% {
    box-shadow: 0 16px 0 0; 
  }

}
      